<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
  <div class="form-group" [ngClass]="aplicaCSSErro(nome)" >

    <div class="col-sm-12">
      <label class="control-label" for="nome">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" [ngModel]="usuario.nome" required #nome="ngModel">

      <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório."></app-campo-control-erro>

    </div>
  </div>

  <div class="form-group" [ngClass]="aplicaCSSErro(email)">

    <div class="col-sm-12">
     <label class="control-label"  for="email">Email</label>
    </div>

    <div class="col-sm-12">
      <input type="email" name="email" class="form-control" id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email" required email #email="ngModel">

      <app-campo-control-erro [mostrarErro]="verificaValidTouched(email)" msgErro="Email é obrigatório."></app-campo-control-erro>
    </div>

  </div>


  <div class="form-group">
    <div class="col-md-3" [ngClass]="aplicaCSSErro(cep)">
      <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep" name="cep" ngModel required #cep="ngModel">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched(cep)" msgErro="CEP é obrigatório."></app-campo-control-erro>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCSSErro(numero)">
      <label for="numero" class="control-label">Numero</label>
      <input type="text" class="form-control" id="numero" name="numero" ngModel required #numero="ngModel">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched(numero)" msgErro="Numero é obrigatório."></app-campo-control-erro>
    </div>

    <div class="col-md-6" [ngClass]="aplicaCSSErro(complemento)">
      <label for="complemento" class="control-label">Complemento</label>
      <input type="text" class="form-control" id="complemento" name="complemento" ngModel #complemento="ngModel">
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12" [ngClass]="aplicaCSSErro(rua)">
      <label for="rua" class="control-label">Rua</label>
      <input type="text" class="form-control" id="rua" name="rua" ngModel required readonly #rua="ngModel">
      <app-campo-control-erro [mostrarErro]="verificaValidTouched(rua)" msgErro="Rua é obrigatório."></app-campo-control-erro>
    </div>
   
  </div>

  <div class="form-group">
    <div class="col-md-5" [ngClass]="aplicaCSSErro(bairro)">
      <label for="bairro" class="control-label">Bairro</label>
      <input type="text" class="form-control" id="bairro" name="bairro" ngModel required #bairro="ngModel">
      <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" *ngIf="!bairro.valid && bairro.touched" ></span>
      <span id="bairro" class="sr-only" *ngIf="!bairro.valid && bairro.touched" >(error)</span>
      <div *ngIf="!bairro.valid && bairro.touched" class="alert alert-danger" role="alert">Bairro é obrigatório</div>
    </div>

    <div class="col-md-4" [ngClass]="aplicaCSSErro(cidade)">
      <label for="cidade" class="control-label">Cidade</label>
      <input type="text" class="form-control" id="cidade" name="cidade" ngModel required #cidade="ngModel">     <app-campo-control-erro [mostrarErro]="verificaValidTouched(cidade)" msgErro="Cidade é obrigatório."></app-campo-control-erro>    

    </div>

    <div class="col-md-3" [ngClass]="aplicaCSSErro(estado)">
      <label for="estado" class="control-label">Estado</label>
      <input type="text" class="form-control" id="estado" name="estado" ngModel #estado="ngModel">
    </div>
  </div>
 <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>

<app-form-debug [form]="f"></app-form-debug>
